{% extends 'base.html' %}
{% block content %}
<h1>Book List</h1>
{% for book in books%}
<div class="card">

    <a href="{% url 'detail' book.id %}">
<div class="card-content">

<div class="flex-container"> 

  <div>

 
<span class="card-title">{{book.name}}</span>
<p>Breed: {{book.author}}</p>
<p>Description: {{book.description}}</p>
<p>{{book.release_year}}</p>
 </div>
 <div> 
  {% load static  %}
<img width="100px" height="100px" src="{% static book.image|cut:'main_app/static/'  %}" />
</div>
</div>
</div>  
</a>
</div>
{% endfor %}

{% endblock %}